.reserver-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
  }
  
  header {
    text-align: center;
  }
  header img {
    max-height: 100px;
    cursor: pointer;
  }

  .instructions {
    text-align: center;
    padding: 20px 0;
  }
  .instructions p {
    font-size: 2em;
  }