<h1 mat-dialog-title>Provide Feedback</h1>
<div mat-dialog-content>
  <mat-label>Select Feedback Type</mat-label>
  <mat-radio-group [(ngModel)]="selectedFeedbackType">
    <mat-radio-button value="GOOD">GOOD</mat-radio-button>
    <mat-radio-button value="NOT_GOOD">NOT GOOD</mat-radio-button>
    <mat-radio-button value="AVERAGE">AVERAGE</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
